.vscode
**/.vscode/
Source_Code/Implement.h
Source_Code/Implement.c
Source_Code/Implement.exe
Source_Code/K-Map_Solver.exe
Source_Code/EPI.txt
Backend/php_executable/EPI.txt
Source_Code/Troubleshoot.h