.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode\tasks.json
K-Map_Logic_Source/Implement.h
K-Map_Logic_Source/Implement.c
K-Map_Logic_Source/Implement.exe
K-Map_Logic_Source/K-Map_Solver.exe
K-Map_Logic_Source/Output.txt
K-Map_Logic_Source/K-Map_Solver.exe
Web_Source/PHP_Executable/Output.txt
