body { margin-top: 0px; }
::-webkit-scrollbar{ width: 9px; }
::-webkit-scrollbar-track{ border-radius: 18px; }
::-webkit-scrollbar-thumb:hover { background: #aaa8a8; }
::-webkit-scrollbar-thumb{ background-color: rgb(216, 212, 212); border-radius: 18px; }
.root{ --height : 50px; --width : 50px; --font_size : 18px; }

@font-face { font-family:Libre Baskerville; src: url(LibreBaskerville.ttf); }

.heading {
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Libre Baskerville';
  color: rgb(20, 20, 20);
  font-size: 50px;
}

.heading:hover {
  font-family: 'Libre Baskerville';
  color: rgb(46, 46, 46);
}

@keyframes zoom-in-zoom-out {
  0% { transform: scale(1, 1); }

  50% { transform: scale(1.05, 1.05); }

  100% { transform: scale(1, 1); }
}

.headerimg{ max-height: 100px; }
.headerimg:hover{ filter: drop-shadow(1.5px 1.5px 1.5px grey) contrast(130%); }

.headertxt{
  height: 100%;
  font-size: 2.8vw;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Libre Baskerville';
  margin-top:10px;
}
.headertxt:hover{ filter: drop-shadow(1.5px 1.5px 1.5px grey) contrast(130%); }

@media(max-width:786px){ .headertxt{ font-size: 5vmin; } }

.para {
  font-size: 25px;
  font-family: 'Libre Baskerville';
}

.button {
  outline: none;
  background-color: hsl(120, 2%, 11%);
  width: auto;
  height: auto;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-family: 'Libre Baskerville';
  cursor: pointer;
  text-decoration: none;
  border-radius: 8px;
}

.button-name {
  font-family: 'Libre Baskerville';
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 25px;
}

.button:active {
  animation: zoom-in-zoom-out 1s ease;
}

.mention {
  font-family: 'Libre Baskerville';
  font-size: 25px;
  color: rgb(0, 0, 255);
}

.mention:hover {
  text-align:left;
  display:inline-block;
  animation: zoom-in-zoom-out 1s ease;
  color: rgb(50, 46, 46);
}

ul{
  list-style-type:disc;
}
li{
  font-size: 25px;
  font-family: 'Libre Baskerville';
  margin-bottom: 10px;
}

/* Variable */
.alignMin {
  height: var(--height);
  width: var(--width);
  font-size: var(--font_size);
  float:left;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
.minIndex{
  user-select: none;
  fill:#000000;
  text-anchor:end;
  font-family:sans-serif;
  font-size:15px;
  cursor:default
}
.minterm{
  user-select: none;
  fill:#000000;
  font-family:sans-serif;
  text-anchor:middle;
  font-size:25px; 
  cursor: default;
}

.k-box{
  height:var(--height);
  width:var(--width); 
  fill:#FFFFFF; 
  stroke:#000000;
}

.result{
height: auto;
width: 460px;
border: 2px solid black;
display: flow-root;
border-radius:12px; 
}