.header {
  height: auto;
  width: auto;
  text-shadow: 3px 3px #b2b2b2;
  text-align: center;
  align-self: center;
}
.head {
  text-align: center;
  font-family: 'Baskerville', sans-serif;
  text-shadow: 2px 2px grey;
}
.button {
  box-shadow: 3px 3px black;
  text-align: center;
}
.button:hover{
   background-color:aqua;
   box-shadow: 4px 4px gray;
}
.name {
  text-shadow: 0.25px 0.25px #b2b2b2;
  font-size: small;
  height: 100%;
  width: 100%;
  text-align: center;
  float: bottom;
}
.size {
  text-align: left;
  font-size:large;
  text-shadow: none;
}
.img {
  height: auto;
  width: auto;
  box-shadow: 5px 5px gray;
  text-align: center;
}
