.heading {
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Libre Baskerville';
  color: rgb(20, 20, 20);
  font-size: 50px;
}

.heading:hover {
  font-family: 'Libre Baskerville';
  color: rgb(46, 46, 46);
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.05, 1.05);
  }

  100% {
    transform: scale(1, 1);
  }
}
.header{
  height: 110px;
  width: 100%;
}
.headerimg{
  height: 100%;
  width: 6%;
}
.headerimg:hover{
  filter: drop-shadow(1.5px 1.5px 1.5px grey) contrast(130%);
}
.headertxt{
   float: left; 
   color: rgb(215, 163, 51);
   font-size: 45px;
   margin-left: 31%;
   margin-top: 30px;
   font-family: 'Libre Baskerville';
}
.headertxt:hover{
  filter: drop-shadow(1.5px 1.5px 1.5px grey) contrast(130%);
}
/*.logo {
  height: 107px;
  width: 1450px;
  display: flex;
 }
 .clg-name{
   margin-left: 300px;
   width: 90px;
   height: 50%SS;
   text-decoration: none;
   font-family: 'Libre Baskerville';
   color: rgb(13, 88, 193);
   font-size: 45px;
   padding-left: 30%;
   padding-right: 30%;

 }
 .clg-name:hover{
   text-align: center;
   filter: drop-shadow(1.5px 1.5px 1.5px grey) contrast(130%);
 }
 .clg-name-2{
   margin-left: 300px;
   width: 90px;
   height: 50%;
   text-decoration: none;
   font-family: 'Libre Baskerville';
   color: rgb(215, 163, 51);
   font-size: 45px;
   
 }
 .clg-name-2:hover{
   filter: drop-shadow(1.5px 1.5px 1.5px grey) contrast(130%);
 }
 .logo-1{
   display: flex;
   margin-left: 1%;
   margin-right: 10%;
   text-align: right;
   width: 150px;
   height: 107px;
 }
 .logo-1:hover{
   filter: drop-shadow(1.5px 1.5px 1.5px grey) contrast(130%);
 }
 .logo-2{
   margin-left: 38%;
   display: flex;
   text-align: right;
   width: 150px;
   height: 107px;
   padding-right: 100px;
 }
 .logo-2:hover{
   filter: drop-shadow(1.5px 1.5px 1.5px grey) contrast(130%);
 }
 .logo img {
  width:fit-content;
  height: 107px;
}*/
.para {
  font-size: 25px;
  font-family: 'Libre Baskerville';
}

.button {
  background-color: hsl(120, 2%, 11%);
  width: 215px;
  height: 62px;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 2px;
  cursor: pointer;
  text-decoration: none;
}

.text1 {
  font-family: 'Libre Baskerville';
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 25px;
}

.text1:hover {
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  animation: zoom-in-zoom-out 1s ease;
}

.name {
  font-family: 'Libre Baskerville';
  font-size: 25px;
  color: rgb(0, 0, 255);
}

.name:hover {
  font-size: 25px;
  text-align:left;
  display:inline-block;
  animation: zoom-in-zoom-out 1s ease;
  color: rgb(50, 46, 46);
}

ul{
  list-style-type:disc;
}
li{
  font-size: 25px;
  font-family: 'Libre Baskerville';
  margin-bottom: 10px;
}

/* variable css */
.head {
  height: auto;
  width: auto;
}

.mainsq {
  height: 300px;
  width: 270px;
  
}
.el1 {
  height: 50px;
  width: auto;
}
.b {
  height: 50px;
  width: 55px;
  font-size: 20px;
  float: right;
  display: flex;
  flex-direction:row;
  align-items: end;
  justify-content: center;
}
.b1 {
  height: 50px;
  width: 50px;
  font-size: 20px;
  float: right; 
  display: flex;
  flex-direction:row;
  align-items: end;
  justify-content: center;
}
.el2 {
  height: 100px;
  width: 50px;
  float: left;
}
.a1 {
  height: 50px;
  width: 50px;
  font-size: 20px;
  float: left;
  display: flex;
  flex-direction:row;
  align-items:end;
  justify-content: center;
}
.a {
  height: 50px;
  width: 50px;
  font-size: 20px;
  float: left;
  display: flex;
  flex-direction:row;
  align-items:end;
  justify-content: center;
}
.sq {
  height: auto;
  width: auto;
  float: right;
}
.sq1 {
  height: 50px;
  width: 50px;
  float: left;
  border-color: black;
  border-style: solid;
  text-align: right;
  display: flex;
  flex-direction:row;
  align-items:end;
  justify-content:end;
}
.sq2 {
  height: 50px;
  width: 50px;
  float: right;
  border-color: black;
  border-style: solid;
  text-align: right;
  display: flex;
  flex-direction:row;
  align-items:end;
  justify-content:end;
}
.sq3 {
  height: 50px;
  width: 50px;
  float: left;
  border-color: black;
  border-style: solid;
  text-align: right;
  display: flex;
  flex-direction:row;
  align-items:end;
  justify-content:end;
}
.sq4 {
  height: 50px;
  width: 50px;
  float: right;
  border-color: black;
  border-style: solid;
  text-align: right;
  display: flex;
  flex-direction:row;
  align-items:end;
  justify-content:end;
}
.main{
height: 100px;
width: 450px;
border: 2px solid black;
display: flexbox;
border-radius: 25px; 
}
.text-1{
font-size: 18px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
display:block;
text-align: center;
}
.txt {
 height: 82%;
 width: 69%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
 text-align: center;
 font-size: 25px;
 user-select: none;
}